PORT=8000
HOST=0.0.0.0
ADMIN_PORT=5000
ADMIN_HOST=0.0.0.0
ENV=production
DB_HOST="localhost"
DB_NAME="fast_api"
DB_USER="root"
DB_PASS="root"
DB_PORT=5432
AUTH_SECRET_KEY="vary secret string"
AUTH_ACCESS_TOKEN_EXPIRE_MINUTES=1000
AUTH_REFRESH_TOKEN_EXPIRE_MINUTES=2000
