[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
black = "==24.3.0"
isort = "==5.13.2"
asyncpg = "*"
psycopg2 = "==2.9.3"
loguru = "==0.5.3"
passlib = "==1.7.4"
SQLAlchemy = "==1.4.52"
uvicorn = "*"
fastapi = "*"
pydantic = {extras = ["email"], version = "*"}
dependency-injector = "*"
python-dotenv = "*"
python-jose = "==3.3.0"
flask-sqlalchemy = "*"
gunicorn = "*"
fastapi-jwt = "*"
flask-security-too = "~=3.2"
flask = "==2.2.3"
flask-admin = "*"
pytz = "*"
werkzeug = "==2.2.2"
faker = "*"
celery = "==5.3.6"
aio-pika = "==9.4.1"
aiormq = "==6.8.0"
flower = "*"
apache-airflow = {extras = ["celery"], version = "==2.9.2"}
apache-airflow-providers-amazon = "*"
apache-airflow-providers-postgres = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"

[dev-packages]
pre-commit = "*"
flake8 = "*"
ipython = "*"
ipdb = "*"
bandit = "*"

[requires]
python_version = "3.11"

[scripts]
server = "python api.py"
shell = "ipython --ipython-dir=./.ipython"
admin = "gunicorn --bind 0.0.0.0:5001 admin:app --reload"
seeds = "python scripts/run_seeds.py"
migrate = "alembic upgrade head"
manual_migration = "alembic revision -m"
auto_migration = "alembic revision --autogenerate"
script = "python scripts/run_script.py"
